<b><font size=20, color='#A020F0'>Class Notebook 1

#### Welcome to your first in-class jupyter notebook activity!
In this notebook you'll get more practice with basic python including functions and loops and the math and datetime modules

<b><font color='red'>Due Date: 24 September 2021</font></b><br>(by the end of class)

<b>How you will turn in this assignment</b><br> When you are ready to turn in your notebook, do the following:
1. Open a terminal and navigate to your local `AOS573` repository and make a new directory called `In_Class`
3. Move your completed in-class notebook into this directory
4. `add` and `commit` the `In_Class` directory and its contents to your local `AOS573` repository
5. Finally, `push` your changes to your remote `aos573_completed_assignments` repository: `git push finished_work main` (you'll need to enter your username and personal access token)

---

## 1. The math and datetime modules

#### 1.1 Import the datetime module

In [ ]:
import datetime

#### 1.2 Use `help()` to read about the `date()` function that is part of datetime

In [ ]:
help(datetime.date)

#### 1.3 Using `date()`
Create a date object for 27 April 1965 and use one of the other modules within `date()` to tell you what day of the week it was. Check your answer using google!

In [ ]:
a=datetime.date(1965,4,27).isoweekday()
a

#### 1.4 Converting weekdays from numbers to strings
Write a wrapper function that takes the date as input (year, month, and day), feeds that to `datetime.date()` and returns the actual name of the weekday instead of the numerical weekday output from `datetime.date()` (Hint: Try using a dictionary to help). Test your function to make sure it works.

In [ ]:
def day_of_week(year, month, day):
    iso_days_of_the_week={'1':'Monday', '2':'Tuesday', '3':'Wednesday',
            '4':'Thursday', '5':'Friday','6':'Saturday', '7':'Sunday'}
    d=datetime.date(year,month,day).isoweekday()
    return(iso_days_of_the_week[str(d)])

In [ ]:
day_of_week(1965,4,27)

#### 1.5 Import the math module

In [2]:
import math

#### 1.6 List the contents of the math module
`dir(module_name)`. Use `help()` to read about what some of the functions do!

In [ ]:
dir(math)

In [119]:
help(pow)

Help on built-in function pow in module builtins:

pow(x, y, z=None, /)
    Equivalent to x**y (with two arguments) or x**y % z (with three arguments)

    Some types, such as ints, are able to use a more efficient algorithm when
    invoked using the three argument form.

#### 1.7 Using nan and checking whether something is finite
In our line of work we often have missing values in our data, which can be represented as a particular number (like -99 for example), or nan (not a number). Given the list of numbers below, write some code that does the following:
1. Replaces all values of -99 with math.nan
2. Makes a new list with only the finite (non-nan) values in it

$a=[1,2,3,4,-99,6,7,-99,9,-99]$

In [3]:
a=[1,2,3,4,-99,6,7,-99,9,-99]
for i in range(0,len(a)):
    if a[i]==-99:
        a[i]=math.nan
a_subset=[i for i in a if math.isfinite(i)] #or isnan()
a_subset

[1, 2, 3, 4, 6, 7, 9]

In [4]:
a_subset2=[a[i] for i in range(len(a)) if math.isfinite(a[i])]

In [5]:
a_subset2

[1, 2, 3, 4, 6, 7, 9]

#### 1.9 Use `timeit`
Time your block of code above with `timeit`. Can you think of any way to make your code faster?

In [ ]:
%%timeit
a=[1,2,3,4,-99,6,7,-99,9,-99]
for i in range(0,len(a)):
    if a[i]==-99:
        a[i]=math.nan
a_subset=[i for i in a if math.isfinite(i)]

In [ ]:
%%timeit
a=[1,2,3,4,-99,6,7,-99,9,-99]
for i in range(0,len(a)):
    if a[i]==-99:
        a[i]=math.nan
a_subset=[]
for i in range(0,len(a)):
    if math.isfinite(a[i]):
        a_subset.append(a[i])

---

## 2. Even more practice with loops and functions

#### 2.1 Turn the result of 1.9 into a function
Make a function that takes as input an arbitrary list of numbers with missing values and returns a list without those missing values. Design your function so it has a 'missing_value' argument, with a default of -99. Test your function with the default missing value by using the original list in 1.7. Then test it with the following list, where -999 is the missing value:

$b=[10,20,30,-999,80,-999,-999,-999,90,10]$

In [ ]:
b=[10,20,30,-999,80,-999,-999,-999,90,10]
def replace_missing_value(lst, missing_value=-99):
    for i in range (0, len(lst)):
        if lst[i]==missing_value:
            lst[i]=math.nan
    return lst

In [ ]:
b=replace_missing_value(b,missing_value=-999)
b

#### 2.2 More on `zip()`
[python documentation on zip](https://docs.python.org/3.3/library/functions.html#zip) (It's a bit dense)

Use zip to zip these two lists and write the zipped values to the variable `z`
1. $c=[1,2,3,4]$
2. $d=[5,6,7,8]$

What is the type of z?<br>
What happens when you try to print the contents of z (`print(z)` or just type `z` in a cell and run it)?<br>
Convert this `zip` object into a different data structure that allows you to see the values on screen<br>
What type are the 4 individual elements of z?<br>

In [ ]:
c=[1,2,3,4]
d=[5,6,7,8]
z=zip(c,d)

In [ ]:
g=list(z)
type(g[0])

#### 2.3 `zip()` continued!
Take your lists a and b from 2.1 and 1.7 (the ones that have replaced the missing values by nans) and construct a loop that returns _only_ the pairs of values (as tuples) from a and b in which _neither_ a _nor_ b is nan.

In [ ]:
tuples=[]
for l1,l2 in zip(a,b):
    #print(l1,l2)
    if math.isfinite(l1) and math.isfinite(l2):
        tuples.append((l1,l2))
tuples

#### 2.4 Reading in data in a loop
Make the following set of 5 files by running the following commands:
1. `!echo "1" > file1.txt`
2. `!echo "2" > file2.txt`
3. `!echo "3" > file3.txt`
4. `!echo "4" > file4.txt`
5. `!echo "5" > file5.txt`

Write a loop that reads in the output of each .txt file and saves it in a list (your final list should have the 5 numbers in it as INTEGERS, one from each file). You'll need the following bit of code to read lines from a .txt file (this code should be executed IN your loop, and you should test what it does on a single file to make sure you understand what it is doing):
````bash
with open('filename.txt') as f:
    line = f.readline()
````

In [ ]:
!echo "1" > file1.txt
!echo "2" > file2.txt
!echo "3" > file3.txt
!echo "4" > file4.txt
!echo "5" > file5.txt

In [ ]:
l=[]
for fname in ['file1','file2','file3','file4','file5']:
    with open(fname+'.txt') as f:
        line = f.readline()
        l.append(int(line))
l